.site-hero {
    height: 80hv;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}    

.hero-text {
    color:fuchsia

}    
.column-wrapper {

    display: grid;
    grid-template-columns: auto auto auto ; 
    }